

<!DOCTYPE html> 
<html>
	<head>
		<title>Chatbot</title>
	</head>
	<body>
		<div class="MyDiv"> 
			<div className="url_input_box">    
				<form id="urlForm">   
					<input type="text" id="url" name="url" placeholder="Enter URL" required> 
					<button type="submit" id="send" onclick="loading()">
						<i class="fa"></i> 
					</button> 
				</form>
			</div>
				<div class="card"> 
					<div class="card-header"> 
						<div class="chat-header">  
								<span class="online_icon"></span>  
						</div> 
						<div class="user_info">
							<img src= "https://bit.ly/3S4cXJV" class="user_img" alt="User Image">  
							<span>ChatBot</span>
							<p>Ask me anything!</p>   
						</div> 
					</div> 
				</div>
					<div id="chatMessages" class="card-body">    
					</div>
					<div class="loading">
						<div class="loader"></div>
						  <form id="chatForm" class="card-footer">  
                                <input type="text" id="chatInput" name="msg" placeholder="Type your message..." required/> 
									<button type="button" id="voice-btn">
										<i class="fa"></i></button>  
									<button type="submit" id="send" onclick="loading()">
										<i class="fa"></i></button> 
						    </form> 
			</div> 
				<form> 
					<input type="text" id="url" name="url" placeholder="Enter URL..." required/> 
					<button type="submit" id="send" onclick="loading()">
						<i class="fa"></i></button>    
				</form>
					<div class="card">
						<div class="card-header">
							<div class="msg_head">
							  <div class="img_cont"> 
									<span class="online_icon"></span> 
								</div> 
								<div class="user_info">
									<img src= "https://bit.ly/3S4cXJV" class="user_img">  
									<span>ChatBot</span>
									<p>Ask me anything!</p> 
								</div> 
							</div>
						</div>
						<div id="messageFormeight" class="card-body"> 
							
						</div>
						<div class="loading">
							<div class="loader"></div>
						  </div> 
						  <form id="messageArea" class="input-group"> 
							<input type="text" id="text" name="msg" placeholder="Type your message..." required/>
							    <div class="chat-input">  
									<button type="button" id="voice-btn"> 
										<i class="fa"></i></button>  
									<button type="submit" id="send" onclick="loading()"> 
										<i class="fa"></i></button>    
								</div> 
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script>
			$(document).ready(function() {
				$("#messageArea").on("submit", function(event) {
					const date = new Date();
					const hour = date.getHours();
					const minute = date.getMinutes();
					const str_time = hour+":"+minute;
					//var url = $("#url").val(); 
					var rawText = $("#text").val();
					var url = $("#url").val(); 


					var userHtml = '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' + rawText + '<span class="msg_time_send">'+ str_time + '</span></div><div class="img_cont_msg"></div></div>';
					
					$("#text").val("");
					$("#url").val(""); 
					$("#messageFormeight").append(userHtml);

					$.ajax({
						data: {
							url: url, 
							msg: rawText,	
						},
						type: "POST",
						url: "/chat",
					}).done(function(data) {
						var botHtml = '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"></div><div class="msg_cotainer">' + data + '<span class="msg_time">' + str_time + '</span></div></div>';
						$("#messageFormeight").append($.parseHTML(botHtml));
						hideLoading();
						})
					event.preventDefault();
				});
			});

			const recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition)();
            recognition.lang = 'en-US'; 
            recognition.interimResults = false;

            recognition.onresult = (event) => {
                const last = event.results.length - 1;
                const text = event.results[last][0].transcript;
                $("#text").val(text);
            };

            recognition.onspeechend = () => {
                recognition.stop();
            };

            recognition.onerror = (event) => {
                console.error(event.error);
            };

            $("#voice-btn").on("click", function() {
                recognition.start();
            });
        

			function loading(){
				$("#loading").show();
				};

			function hideLoading() {$("#loading").hide()}
		</script>
        
    </body>
</html> 
